<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">

	
	<!-- <bean id="dataDisplayController" class="com.oganalysis.web.DataDisplayController">
		<property name="dataServiceImpl" ref="dataServiceImpl"/>
	</bean>-->
	
	<!--  ServiceImpl -->
	<bean id="dataServiceImpl" class="com.oganalysis.service.impl.DataServiceImpl">
		
		<property name="explorationDao" ref="explorationDao"/>
		
		
		<property name="refineryDao" ref="refineryDao"/>
		
	</bean>
			
	<!-- Service Layer -->
	<bean id="loginServiceImpl" class="com.oganalysis.service.impl.LoginServiceImpl">
		<property name="loginBusinessServiceImpl" ref="loginBusinessServiceImpl"/>			
	</bean>
	<bean id="filterdataServiceImpl" class="com.oganalysis.service.impl.FilterDataServiceImpl">
		<property name="filterDataDao" ref="filterDataDao"/>
		<property name="lngDao" ref="lngDao"/>
		<property name="refineriesDao" ref="refineriesDao"/>
		<property name="storageDao" ref="storageDao"/>	
		<property name="pipelineDao" ref="pipelineDao"/>
	</bean>
	<bean id="lngDataServiceImpl" class="com.oganalysis.service.impl.LngDataServiceImpl">
		<property name="lngCapacityBusinessServiceImpl" ref="lngCapacityBusinessServiceImpl"/>
		<property name="lngInfraBusinessServiceImpl" ref="lngInfraBusinessServiceImpl"/>
		<!-- <property name="lngExcel" ref="lngExcel"/>	 -->	
	</bean>
	
	<bean id="pdfReportsServiceImpl" class="com.oganalysis.service.impl.PdfReportsServiceImpl">
		<property name="pdfReportsDao" ref="pdfReportsDao"/>		
	</bean>
	
	<bean id="supplyDemandServiceImpl" class="com.oganalysis.service.impl.SupplyDemandServiceImpl">
		<property name="supplyDemandBusinessServiceImpl" ref="supplyDemandBusinessServiceImpl"/>			
	</bean>
	
	<bean id="contractsServiceImpl" class="com.oganalysis.service.impl.ContractsServiceImpl">
		<property name="contractsBusinessServiceImpl" ref="contractsBusinessServiceImpl"/>			
	</bean>
	
	<bean id="refineriesServiceImpl" class="com.oganalysis.service.impl.RefineriesServiceImpl">
		<property name="refineriesCapacityBusinessServiceImpl" ref="refineriesCapacityBusinessServiceImpl"/>
		<property name="refineriesInfraBusinessServiceImpl" ref="refineriesInfraBusinessServiceImpl"/>
		<!-- <property name="refineriesExcel" ref="refineriesExcel"/> -->			
	</bean>
	
	<bean id="storageServiceImpl" class="com.oganalysis.service.impl.StorageServiceImpl">
		<property name="storageCapacityBusinessServiceImpl" ref="storageCapacityBusinessServiceImpl"/>
		<property name="storageInfraBusinessServiceImpl" ref="storageInfraBusinessServiceImpl"/>	
		<!-- <property name="storageExcel" ref="storageExcel"/> -->			
	</bean>
	<bean id="productionServiceImpl" class="com.oganalysis.service.impl.ProductionServiceImpl">
		<property name="productionBusinessServiceImpl" ref="productionBusinessServiceImpl"/>				
	</bean>
	
	<bean id="pipeLineServiceImpl" class="com.oganalysis.service.impl.PipeLineServiceImpl">
		<property name="pipeLineBusinessServiceImpl" ref="pipeLineBusinessServiceImpl"/>				
	</bean>
	<!-- Service Layer -->
	
	<!-- BusinessServiceImpl -->
	<bean id="lngCapacityBusinessServiceImpl" class="com.oganalysis.business.impl.LngCapacityBusinessServiceImpl">
		<property name="lngDao" ref="lngDao"/>
		<property name="lngCache" ref="lngCache"/>			
	</bean>
		
	<bean id="lngInfraBusinessServiceImpl" class="com.oganalysis.business.impl.LngInfraBusinessServiceImpl">
		<property name="lngDao" ref="lngDao"/>	
		<property name="lngCache" ref="lngCache"/>	
	</bean>
	
	<bean id="supplyDemandBusinessServiceImpl" class="com.oganalysis.business.impl.SupplyDemandBusinessServiceImpl">
		<property name="supplyDemandDao" ref="supplyDemandDao"/>		
	</bean>
	
	<bean id="contractsBusinessServiceImpl" class="com.oganalysis.business.impl.ContractsBusinessServiceImpl">
		<property name="contractsDao" ref="contractsDao"/>	
		<property name="contractsCache" ref="contractsCache"/>	
	</bean>
	
	<bean id="refineriesCapacityBusinessServiceImpl" class="com.oganalysis.business.impl.RefineriesCapacityBusinessServiceImpl">
		<property name="refineriesDao" ref="refineriesDao"/>
		<property name="refineriesCache" ref="refineriesCache"/>
	</bean>
	
	<bean id="refineriesInfraBusinessServiceImpl" class="com.oganalysis.business.impl.RefineriesInfraBusinessServiceImpl">
		<property name="refineriesDao" ref="refineriesDao"/>
		<property name="refineriesCache" ref="refineriesCache"/>
	</bean>
	
	<bean id="storageCapacityBusinessServiceImpl" class="com.oganalysis.business.impl.StorageCapacityBusinessServiceImpl">
		<property name="storageDao" ref="storageDao"/>
		<property name="storageCache" ref="storageCache"/>
	</bean>
	<bean id="storageInfraBusinessServiceImpl" class="com.oganalysis.business.impl.StorageInfraBusinessServiceImpl">
		<property name="storageDao" ref="storageDao"/>
		<property name="storageCache" ref="storageCache"/>
	</bean>
	<bean id="productionBusinessServiceImpl" class="com.oganalysis.business.impl.ProductionBusinessServiceImpl">
		<property name="naturalGasDao" ref="naturalGasDao"/>
		<property name="crudeOilDao" ref="crudeOilDao"/>
		<property name="companyOilGasDao" ref="companyOilGasDao"/>
		<!-- <property name="storageCache" ref="storageCache"/>-->
	</bean>
	<bean id="pipeLineBusinessServiceImpl" class="com.oganalysis.business.impl.PipeLineBusinessServiceImpl">
		<property name="pipelineDao" ref="pipelineDao"/>
	</bean>
	
	<bean id="loginBusinessServiceImpl" class="com.oganalysis.business.impl.LoginBusinessServiceImpl">
		<property name="userDao" ref="userDao"/>
		<property name="customerDao" ref="customerDao"/>		
	</bean>
	<!-- BusinessServiceImpl -->
	<!--  Cache Class -->
	<bean id="storageCache" class="com.oganalysis.cache.StorageCache"><!-- init-method="initCache" -->
		<property name="storageDao" ref="storageDao"/>
		<property name="storageInfraBusinessServiceImpl" ref="storageInfraBusinessServiceImpl"/>
		<property name="startYear" value="#{applicationProps['STARTYEAR']}"/>
		<property name="endYear" value="#{applicationProps['ENDYEAR']}"/>	
	</bean>
	
	<bean id="refineriesCache" class="com.oganalysis.cache.RefineriesCache"><!-- init-method="initCache" -->
		<property name="refineriesDao" ref="refineriesDao"/>
		<property name="refineriesInfraBusinessService" ref="refineriesInfraBusinessServiceImpl"/>
		<property name="startYear" value="#{applicationProps['STARTYEAR']}"/>
		<property name="endYear" value="#{applicationProps['ENDYEAR']}"/>	
	</bean>
	<bean id="contractsCache" class="com.oganalysis.cache.ContractsCache" init-method="initCache"><!-- init-method="initCache" -->
		<property name="contractsDao" ref="contractsDao"/>
		<property name="startYear" value="#{applicationProps['STARTYEAR']}"/>
		<property name="endYear" value="#{applicationProps['ENDYEAR']}"/>	
	</bean>
	<bean id="lngCache" class="com.oganalysis.cache.LngCache" init-method="initCache"><!-- init-method="initCache" -->
		<property name="lngDao" ref="lngDao"/>
		<property name="lngInfraBusinessService" ref="lngInfraBusinessServiceImpl"/>
		<property name="startYear" value="#{applicationProps['STARTYEAR']}"/>
		<property name="endYear" value="#{applicationProps['ENDYEAR']}"/>	
	</bean>
	
	<!-- <bean id="lngExcel" class="com.oganalysis.excel.LngExcel"/>
	<bean id="refineriesExcel" class="com.oganalysis.excel.RefineriesExcel"/>
	<bean id="storageExcel" class="com.oganalysis.excel.StorageExcel"/> -->
	
	<util:properties id="applicationProps" location="WEB-INF/application.properties"></util:properties>
	<context:property-placeholder properties-ref="applicationProps" />
	<!-- Schedular task  This is working as of now just commented
	<task:annotation-driven />
    <util:properties id="applicationProps" location="classpath:/application.properties"></util:properties>
    <context:property-placeholder properties-ref="applicationProps" />
    
 
    <task:scheduled-tasks>
        <task:scheduled ref="refineriesCache" method="initCache" cron="#{applicationProps['cron.expression']}"></task:scheduled>
    </task:scheduled-tasks>-->
</beans>