.filter-control{
		padding: 0;
} 
.filter-control .btn-group, .filter-control .btn {
	width:100%;
}
.filter-control .dropdown-menu{
	min-width: 200px;
}
.subheader{
	padding: 10px 3px 3px;
}
.textCap{
	text-transform: capitalize;
}

.filterAlignment{
	 margin-left: 23px;
    margin-right: -79px;
}
 .custom-navbar{
 	padding-left: 25px;
    padding-right: 30px;
 }
 