
 .full-content-wrapper{
	 margin-left: 0px !important;
	 transition: none 0s ease 0s ;
 }
 .full-content-wrapper, .right-side, .main-footer {
    margin-left: 0px !important;
	transition: none 0s ease 0s ;
 }
  .login-content-wrapper, .right-side, .main-footer {
    margin-left: 0px !important;
	transition: none 0s ease 0s ;
	background-color :transparent;
 }
 

.filter-control{
		padding: 0;
} 
.filter-control .btn-group, .filter-control .btn {
	width:100%;
}
.filter-control .dropdown-menu{
	min-width: 200px;
}
.subheader{
	padding: 10px 3px 3px;
}
.textCap{
	text-transform: capitalize;
}

.filterAlignment{
	 margin-left: 23px;
    margin-right: -79px;
}
 .custom-navbar{
 	padding-left: 25px;
    padding-right: 30px;
 }
 .total-row{
 	color: red;
    background-color: #fff !important;
 }
 .openModel{
	    cursor: pointer;
 }
 #modelDatatable .table, .custom-table{
 	width:100% !important;
 }
  /*  
 .dropdown-menu {
    box-shadow: none;
    height: 400px !important;
    border-color: #eee;
    width: 150px;
}float:right;*/
.dropdown-menu{
	 width: 100%;
}
#liquefaction_filter,#regasification_filter,#liquefaction_paginate,#regasification_paginate{
	
}
dl {
    margin-top: 10px !important;
    margin-bottom: 20px;
}